include part/header.pug
body
include part/nav.pug
div(class="container-fluid")
    div(class="row")
        include part/side-menu.pug
        main(class="col-md-9 ml-sm-auto col-lg-10 px-4" role="main")
            ol(class="breadcrumb") 
                li Course 
                li  / Add Student
            div(class="container")
                div(class="row")
                    div(class="col-10 offset-md-1")
                        H2
                            i(class="fas fas-plus-circle") Add Student
                        br
                        table(class="table table-condensed")
                            thead
                                tr
                                    th Course Info
                                    th details
                            tbody
                                tr
                                    th Department
                                    th=offer.Dept_id
                                tr
                                    th Year
                                    th=offer.Year
                                tr
                                    th CourseID
                                    th=offer.CourseID
            div(class="container")
                div(class="row")
                    div(class="col-9 offset-md-2")
                    br
                    div(class="input-group")
                        div(class='input-group-prepend')
                            label(for="studentID") Select Student Name
                            select(class="form-control" id="studentID") student name
                                option --
                                each student in Students
                                    option(value=student.studentID)=student.student_name