include part/header.pug
body
include part/nav.pug
div(class="container-fluid")
    div(class="row")
        include part/side-menu.pug
        main(class="col-md-9 ml-sm-auto col-lg-10 px-4" role="main")
            ol(class="breadcrumb") 
                li Course 
                li  / Course Create
            div(class="container")
                div(class="row")
                    div(class="col-6 offset-md-3")
                        div(class="text-center mb-4")
                            h1(class="h3 mb-3 font-weight-normal") Create Course
                        include part/course_form.pug
                        button(class="btn btn-lg btn-primary btn-block" id="createButton" type="submit") Create Course
            script
                include script/course_create.js