include part/header.pug
body
include part/nav.pug
h1 Hello world, this is home page
div(class="container")
  div(class="card card-login mx-auto mt-5")
    div(class="card-header") System Login
      div(class="card-body")
      body
      |
      | 
      form(method="post" action="/login")
        != csrfField()
        div(class="form-group")
          div(class="form-label-group")
            input(type="text" id="username" name="username" class="form-control" placeholder="User Name" required="required" autofocus="autofocus")
            label(for="username") User name

        div(class="form-group")
          div(class="form-label-group")
            input(type="password" id="inputPassword" name="password" class="form-control" placeholder="Password" required="required")
            label(for="inputPassword") Password

        input(type="submit" name="submit" class="btn btn-primary btn-block" value="Login")