include part/header.pug
body
include part/nav.pug
div(class="container-fluid")
    div(class="row")
        include part/side-menu.pug
        main(class="col-md-9 ml-sm-auto col-lg-10 px-4" role="main")
            ol(class="breadcrumb") 
                li Hot Course  
                li  / HOt Course Listing
                
            div(class="container")
                div(class="row")
                    div(class="col-12")
                        table(class="table table-hover" id="enrollment_listing" style="100%")
                            thead
                                tr
                                    th CourseID
                                    th CourseName
                                    th Level
                                    th Enrolled Count
            link(href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css" rel="stylesheet")
            script(src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js")
            script.
                $("#enrollment_listing").DataTable({
                    "paging": false,
                    "searching": false,
                    "ajax": {
                        "url":'/course/popular',
                        "type": 'GET',
                    },
                    "columns": [
                        { data: 'CourseID' },
                        { 
                            data: 'CourseName',
                            render: function(data, type, full, meta){
                                return full.course.Title
                            }
                        },
                        { 
                            data: 'Level',
                            render: function(data, type, full, meta){
                                return full.course.Level
                        },
                        { data: 'enrolled_count' },
                    ]
                })