include part/header.pug
body
include part/nav.pug
ol(class="breadcrumb") 
    li Student 
    li  / Student Create
    
div(class="container")
    div(class="row")
        div(class="col-6 offset-md-3")
            //- form(class="form-signin")
            div(class="text-center mb-4")
                h1(class="h3 mb-3 font-weight-normal") Create Student
            div(class="form-label-group")
                label(for="StudentId")  Student ID
                input(type="text" id="StudentId" class="form-control" name="StudentId" placeholder="Student Id" required autofocus)
            div(class="form-label-group")
                label(for="StudentName") Student Name
                input(type="text" id="StudentName" class="form-control" name="StudentName" placeholder="Student Name" required)
            div(class="form-label-group")
                label(for="StudentName") Date of Birth
                input(type="date" id="DOB" class="form-control" name="DOB" min="1880-01-01" max="2018-12-31" required)
            button(class="btn btn-lg btn-primary btn-block" id="createButton" type="submit") Create Student
script
    include script/student_create.js