div(class="form-label-group")
    label(for="CourseID")  Course ID
    input(type="text" id="CourseID" class="form-control" name="CourseID" placeholder="Course Id" required autofocus)
div(class="form-label-group")
    label(for="Title") Title
    input(type="text" id="Title" class="form-control" name="Title" placeholder="Title" required)
div(class="form-label-group")
    label(for="Level") Level
    input(type="number" id="Level" class="form-control" name="Level" min="1" max="10" placeholder="Level" required)