div(class="form-label-group")
    label(for="DeptID")  Department ID
    input(type="text" id="DeptID" class="form-control" name="CourseID" placeholder="Department ID" required autofocus)
div(class="form-label-group")
    label(for="DeptName") Department Name
    input(type="text" id="DeptName" class="form-control" name="Title" placeholder="Department Name" required)
div(class="form-label-group")
    label(for="location") Location
    input(type="Location" id="Location" class="form-control" name="Location" min="1" max="10" placeholder="Location" required)