nav(class="navbar navbar-dark fixed-top bg-dark flex-md-nowrap p-0 shadow")
    a(class="navbar-brand col-sm-3 col-md-2 mr-0" href="/front/student/listing")
        span 
            i(class="fas fa-chalkboard-teacher") ADS Collage
    ul(class="navbar-nav px-3")
        li(class="nav-link")
            a(class="nav-link" href="/logout")
                i(class="fas fa-sign-out-alt") Logout
    //- button(class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation")
    //- span(class="navbar-toggler-icon")
    //-     div(class="collapse navbar-collapse" id="navbarsExampleDefault")
    //-         ul( class="navbar-nav mr-auto")
    //-             if is_login==true
    //-                 li(class="nav-item dropdown")
    //-                     a(class="nav-link dropdown-toggle" href="http://example.com" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false") Student
    //-                     dev(class="dropdown-menu"  aria-labelledby="dropdown01")
    //-                         a(class="dropdown-item" href="/front/student/create") Create
    //-                         a(class="dropdown-item" href="/front/student/listing") List
    //-                 li(class="nav-item dropdown")
    //-                     a(class="nav-link dropdown-toggle" href="/Course/listing" id="dropdown02" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false") Course
    //-                     dev(class="dropdown-menu" aria-labelledby="dropdown02")
    //-                         a(class="dropdown-item" href="/front/course/create") Create
    //-                         a(class="dropdown-item" href="/front/course/listing") List
    //-                 li(class="nav-item")
    //-                     a(class="nav-link disabled" href="/Department/listing") Department
    //-                 li(class="nav-item")
    //-                     a(class="nav-link" href="/logout") Logout
    //-             else 
    //-                 li(class="nav-item")
    //-                     a(class="nav-link active" href="/") Home