div(class="form-label-group")
    label(for="StudentId")  Student ID
    input(type="text" id="StudentId" class="form-control" name="StudentId" placeholder="Student Id" required autofocus)
div(class="form-label-group")
    label(for="StudentName") Student Name
    input(type="text" id="StudentName" class="form-control" name="StudentName" placeholder="Student Name" required)
div(class="form-label-group")
    label(for="StudentName") Date of Birth
    input(type="date" id="DOB" class="form-control" name="DOB" min="1880-01-01" max="2018-12-31" required)